/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global color variables */
:root {
  --color-primary: #14B8A6;
  --color-primary-light: #2DD4BF;
  --color-background-default: #F9F9F9;
  
  /* Ionic primary color - using app primary color */
  --ion-color-primary: #14B8A6;
  --ion-color-primary-rgb: 20, 184, 166;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #12a293;
  --ion-color-primary-tint: #2cbfaf;
}

/* Default background color for all pages */
ion-content {
  --background: var(--color-background-default);
}

.header-flat,
ion-header,
ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  box-shadow: none !important;
  border: none !important;
}

.bg-default {
  background: var(--color-background-default) !important;
}

.icon-primary {
  color: var(--color-primary) !important;
} 

/* Custom Tailwind utility classes for safe-area */
@layer utilities {
  .safe-area-top {
    padding-top: env(safe-area-inset-top);
  }

  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .safe-area-x {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .safe-area {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pb-safe {
    padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
  }

  .pt-safe {
    padding-top: calc(1.5rem + env(safe-area-inset-top));
  }
}

/* ActionSheet button colors override */
.workout-action-sheet {
  .workout-action-sheet-edit {
    --button-color: var(--ion-text-default) !important;
  }

  .workout-action-sheet-cancel {
    --button-color: var(--ion-text-color, var(--ion-color-medium)) !important;
  }
}
