<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card *ngIf="user$ | async as user">
      <ion-card-header>
        <ion-card-title>Bienvenue !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vous êtes connecté en tant que : <strong>{{ user.email }}</strong></p>
        <ion-button expand="block" color="danger" (click)="onLogout()" class="ion-margin-top">
          Se déconnecter
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
